@media (min-width: 1024px) {
    .fsbg{
        background: url('background_temp.jpg'); 
        background-size: cover;
        padding-bottom: 50%;
        width: 100%;
    }
    .iam{
            left: 100px;
            position: absolute;
            top:8%;
    }
}
@media (min-width: 640px) and (max-width: 1023px) {
    .fsbg{
        background: url('background_temp_phone.jpg');
        background-size: cover;
        padding-bottom: 200%;
        width: 100%;
    }
    .iam{
        left: 100px;
        position: absolute;
        top: 300px;
    }
}
@media (min-width: 320px) and (max-width: 639px) {
    .fsbg{
        background: url('background_temp_phone.jpg');
        background-size: cover;
        padding-bottom: 200%;
        width: 100%;
    }
    .iam{
        left: 10px;
        position: absolute;
        top: 5%;
    }
}
.parralax{
    background-attachment: fixed;
}
button{
    margin: 4px;
}
.frost_container{
    min-width: 140px;
}
.parrallax{
    background-attachment: fixed;
}