@media (min-width: 1024px) {
    .fsbg{
        background: url('background_temp.jpg');
        filter: grayscale(100%);
        background-size: cover;
        padding-bottom: 50%;
        width: 100%;
    }
    .iam{
            left: 100px;
            position: absolute;
            top:8%;
    }
}
@media (min-width: 640px) and (max-width: 1023px) {
    .fsbg{
        background: url('background_temp_phone.jpg');
        background-size: cover;
        padding-bottom: 200%;
        width: 100%;
    }
    .iam{
        left: 100px;
        position: absolute;
        top: 300px;
    }
}
@media (min-width: 320px) and (max-width: 639px) {
    .fsbg{
        background: url('background_temp_phone.jpg');
        background-size: cover;
        padding-bottom: 200%;
        width: 100%;
    }
    .iam{
        left: 10px;
        position: absolute;
        top: 5%;
    }
}
.parralax{
    background-attachment: fixed;
}
button{
    margin: 4px;
}
.frost_container{
    min-width: 140px;
}
.parrallax{
    background-attachment: fixed;
}
.overlay{width: 100%; height: 100%; margin-top: 0%; padding: 5px;
     background: repeating-linear-gradient(45deg, #9e9e9e44 0.5%, #8e8e8e44 1%),
     repeating-linear-gradient(-45deg, #9e9e9e44 0.5%, #8e8e8e44 1%);
     color: #000;
    }

.icon{
    width: 50px;
    height: 50px;
}
.tooltip_info{
    margin-top: -110px;
}
.anim1{
    animation: anim1 9999s;
}
@keyframes anim1{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    0.01%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.anim2{
    animation: anim2 9999s 1s;
}
@keyframes anim2{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    0.01%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.anim3{
    animation: anim3 9999s 2s;
}
@keyframes anim3{
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    0.01%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.anim1, .anim2, .anim3{
    opacity: 0;
}

@media (min-width: 1024px) {
    h1{
        font-size: 600%;
    }
    h3{
        font-size: 400%;
    }
    h5{
        font-size: 250%;
    }
}
.sidepanel_container{
    display: none;
}